In [9]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [10]:
fruits.count('tangerine')

0

In [11]:
fruits.index('banana')

3

In [12]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [13]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [14]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [15]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [16]:
fruits.pop()

'pear'

In [17]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

## 5.1.1. 리스트를 스택으로 사용하기 (First-in Last-out)

In [19]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [20]:
stack.pop()

7

In [21]:
stack

[3, 4, 5, 6]

In [22]:
stack.pop()

6

In [23]:
stack.pop()

5

In [24]:
stack

[3, 4]

## 5.1.2. 리스트를 큐로 사용하기 (First-in First-out)

In [25]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Grahan")

In [26]:
queue.popleft()

'Eric'

In [27]:
queue.popleft()

'John'

In [28]:
queue

deque(['Michael', 'Terry', 'Grahan'])

## 5.1.3. 리스트 컴프리헨션

In [31]:
squares = []

for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
x

9

In [34]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [39]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
            
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
vec = [-4, -2, 0, 2, 4]

# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [41]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [42]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [43]:
# call a method on each element
freshfruit = ['   banana', '   loganberry ', 'passon fruit   ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passon fruit']

In [45]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [46]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-46-702d12ece8a4>, line 2)

In [47]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## 5.1.4. 중첩된 리스트 컴프리헨션

In [51]:
matrix = [
            [1, 2, 3, 4],
            [5, 6, 7, 8],
            [9, 10, 11, 12]
        ]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [50]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [53]:
trnasposed = []
for i in range(4):
    #the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9],
 [2, 6, 10],
 [3, 7, 11],
 [4, 8, 12],
 [1, 5, 9],
 [2, 6, 10],
 [3, 7, 11],
 [4, 8, 12]]

In [54]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]